
    <div class="card border-dark  h-100 py-2 {{class}} {{color}} " >
        <div class="card-body">
            <!-- <div class="row no-gutters align-items-center"> -->
                <!-- <div class="col mr-2" > -->
                    <!-- <div class=" card-title text-xm font-weight-bold text-light  text-uppercase mb-1"> -->
                     <!-- {{card}}   </div>  / -->
                     <h5 class="card-title">{{card}}</h5>
                    
                </div>
                <!-- <div class="col-auto" > -->
                    <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                <!-- </div> -->
            <div>
            <a class="card-footer bg-transparent border-dark ">View Details</a>
    </div>
</div>

    